@value _duration: 150;
@value _height: 3.6;

.wrapper {
  position: relative;

  &:focus {
    outline: none;
  }
}

.select {
  position: relative;
  z-index: 102;
  padding-right: 3.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;

  &::after,
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.4rem;
    transform: rotate(45deg);
    transition: all 0.2s;
    margin: -0.9rem 0 0;
    width: 1.2rem;
    height: 1.2rem;
    content: '';
  }

  &::after {
    border-right: 0.2rem solid;
  }

  &::before {
    border-bottom: 0.2rem solid;
  }
}

.label {
  position: absolute;
  z-index: 103;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-height: 30.1rem;
  overflow-y: auto;
}

.is-active {
  &.wrapper {
    z-index: 203;
  }

  & .select {
    &::before {
      transform: translateX(0.7rem) rotate(45deg);
    }

    &::after {
      transform: translateX(-0.7rem) rotate(45deg);
    }
  }
}

.search {
  padding: 0.6rem 1rem 0.6rem 0.7rem;
  margin-bottom: 0;
}
