:root {
  --bb-fill: #505050;
  --bb-thin-fill: #06487a;
  --gray-text-color: #969696;
}

.fraction {
  &.gray {
    color: var(--gray-text-color);
  }

  &.small {
    font-size: 0.8em;
  }
}

.wrapper div {
  display: inline-block;
}

.wrapper {
  white-space: nowrap;
  display: inline-block;

  &.is-bold {
    font-weight: 700;
  }

  &.bitbon {
    & .symbol {
      @mixin bitbon var(--bb-fill);

      &.is-bold {
        @mixin bitbon1 var(--bb-fill);
      }
    }
  }

  &.usd {
    & .symbol {
      @mixin usd;
    }
  }

  &.eur {
    & .symbol {
      @mixin eur;
    }
  }

  &.eth {
    & .symbol {
      @mixin eth;
    }
  }

  &.btc {
    & .symbol {
      @mixin btc;
    }
  }
}
