@import '../vars';

.wrapper {
  margin-bottom: var(--margin-bottom);
}

.textarea {
  @mixin base-input;

  line-height: 2.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  resize: none;
}

.label {
  @mixin base-input-label;
  line-height: 2.2rem;
  padding-top: 0.7rem;
  margin-top: 0.3rem;
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}

@mixin mq-phone {
  .label {
    line-height: 2rem;
  }
}
